# Создание столбцов на ходу
- Лена - разработчик
- Ваня - дизайнер
- Настя - редактор

In [1]:
import pandas as pd

In [12]:
def departments(row):
    # row['разработка'] = 1  # создается новый столбец
    info = row['dicts']
    # print(info)
    
    if 'Лена' in info:
        row['разработка'] = info['Лена']
        
    if 'Настя' in info:
        row['редакторы'] = info['Настя']
    
    return row

In [15]:
df = df.apply(departments, axis=1).fillna(0)
df

                    dicts  разработка  редакторы
0  {'Лена': 1, 'Ваня': 2}         1.0        0.0
1  {'Ваня': 3, 'Леша': 5}         0.0        0.0
2            {'Настя': 3}         0.0        3.0

In [16]:
df.astype({'разработка': 'int32'})

                    dicts  разработка  редакторы
0  {'Лена': 1, 'Ваня': 2}           1        0.0
1  {'Ваня': 3, 'Леша': 5}           0        0.0
2            {'Настя': 3}           0        3.0

In [2]:
df = pd.DataFrame({'dicts': [{'Лена': 1, 'Ваня': 2}, {'Ваня': 3, 'Леша': 5}, {'Настя': 3}]})
df

                    dicts
0  {'Лена': 1, 'Ваня': 2}
1  {'Ваня': 3, 'Леша': 5}
2            {'Настя': 3}

# Группировки и оконные функции

In [17]:
df = pd.DataFrame(
    {
        'region': ['СФО', 'СФО', 'ДВФО', 'СФО', 'ДВФО', 'ДВФО', 'ДВФО', 'ДВФО', 'СФО', 'ДВФО'],
        'city': ['Новосибирск', 'Томск', 'Владивосток', 'Новосибирск', 'Владивосток', 'Владивосток', 'Владивосток', 'Владивосток', 'Томск', 'Владивосток'],
        'sales': [140, 135, 290, 95, 100, 50, 40, 120, 190, 200],
    }
)
df

  region         city  sales
0    СФО  Новосибирск    140
1    СФО        Томск    135
2   ДВФО  Владивосток    290
3    СФО  Новосибирск     95
4   ДВФО  Владивосток    100
5   ДВФО  Владивосток     50
6   ДВФО  Владивосток     40
7   ДВФО  Владивосток    120
8    СФО        Томск    190
9   ДВФО  Владивосток    200

In [19]:
df['region'].unique()

array(['СФО', 'ДВФО'], dtype=object)

In [20]:
df_sfo = df[df['region'] == 'СФО']
df_sfo

  region         city  sales
0    СФО  Новосибирск    140
1    СФО        Томск    135
3    СФО  Новосибирск     95
8    СФО        Томск    190

In [22]:
df_sfo.count()  # количество строк с ненулевыми значениями

region    4
city      4
sales     4
dtype: int64

In [18]:
df.groupby('region').count()

        city  sales
region
ДВФО       6      6
СФО        4      4

Посчитать размах значений

In [23]:
df

  region         city  sales
0    СФО  Новосибирск    140
1    СФО        Томск    135
2   ДВФО  Владивосток    290
3    СФО  Новосибирск     95
4   ДВФО  Владивосток    100
5   ДВФО  Владивосток     50
6   ДВФО  Владивосток     40
7   ДВФО  Владивосток    120
8    СФО        Томск    190
9   ДВФО  Владивосток    200

In [24]:
df_sfo

  region         city  sales
0    СФО  Новосибирск    140
1    СФО        Томск    135
3    СФО  Новосибирск     95
8    СФО        Томск    190

In [25]:
min_sales = df_sfo['sales'].min()
min_sales

95

In [26]:
max_sales = df_sfo['sales'].max()
max_sales

190

In [27]:
max_sales - min_sales

95

In [28]:
def min_max(df):
    min_sales = df['sales'].min()
    max_sales = df['sales'].max()
    
    return max_sales - min_sales

In [30]:
df.groupby('region')

In [29]:
df.groupby('region').apply(min_max)  # на выход функции подается датафрейм вроде df_sfo

region
ДВФО    250
СФО      95
dtype: int64

In [37]:
df.groupby(['region', 'city']).apply(min_max)

region  city
ДВФО    Владивосток    250.0
СФО     Новосибирск      0.0
        Томск          190.0
dtype: float64

# Группировки с пустыми значениями

In [34]:
df = pd.DataFrame(
    {
        'region': ['СФО', 'СФО', 'ДВФО', 'СФО', 'ДВФО', 'ДВФО', 'ДВФО', 'ДВФО', 'СФО', None],
        'city': ['Новосибирск', 'Томск', 'Владивосток', 'Новосибирск', 'Владивосток', 'Владивосток', 'Владивосток', 'Владивосток', 'Томск', 'Владивосток'],
        'sales': [None, 0, 290, 95, 100, 50, 40, 120, 190, 200],
    }
)
df

  region         city  sales
0    СФО  Новосибирск    NaN
1    СФО        Томск    0.0
2   ДВФО  Владивосток  290.0
3    СФО  Новосибирск   95.0
4   ДВФО  Владивосток  100.0
5   ДВФО  Владивосток   50.0
6   ДВФО  Владивосток   40.0
7   ДВФО  Владивосток  120.0
8    СФО        Томск  190.0
9   None  Владивосток  200.0

In [35]:
df['region'].value_counts()  # группировка НЕ учитывает строки с пустым ключом

ДВФО    5
СФО     4
Name: region, dtype: int64

In [47]:
df['region'].value_counts().index

Index(['ДВФО', 'СФО'], dtype='object')

In [48]:
df['region'].value_counts().values

array([5, 4])

In [36]:
df.groupby('region').count()  # метод count возвращает количетство НЕПУСТЫХ строк

        city  sales
region
ДВФО       5      5
СФО        4      3

### Метод agg

In [38]:
df

  region         city  sales
0    СФО  Новосибирск    NaN
1    СФО        Томск    0.0
2   ДВФО  Владивосток  290.0
3    СФО  Новосибирск   95.0
4   ДВФО  Владивосток  100.0
5   ДВФО  Владивосток   50.0
6   ДВФО  Владивосток   40.0
7   ДВФО  Владивосток  120.0
8    СФО        Томск  190.0
9   None  Владивосток  200.0

In [41]:
df.groupby('region').count()

        city  sales
region
ДВФО       5      5
СФО        4      3

In [45]:
df.groupby('region').agg({'sales': 'count', 'city': ['count', 'min']})

       sales  city
       count count          min
region
ДВФО       5     5  Владивосток
СФО        3     4  Новосибирск

In [49]:
df.groupby('region').agg({'sales': ['count', min_max], 'city': ['count', 'min']})

KeyError: 'sales'

Функция min_max_agg для метода agg

In [50]:
def min_max_agg(df_column):  # на вход подается конкретный столбец
    min_sales = df_column.min()
    max_sales = df_column.max()
    
    return max_sales - min_sales

In [52]:
df.groupby('region').agg({'sales': ['count', min_max_agg], 'city': ['count', min]})

       sales              city
       count min_max_agg count          min
region
ДВФО       5       250.0     5  Владивосток
СФО        3       190.0     4  Новосибирск

### Посчитать процент строки от ее региона

In [55]:
df = pd.DataFrame(
    {
        'region': ['СФО', 'СФО', 'ДВФО', 'СФО', 'ДВФО', 'ДВФО', 'ДВФО', 'ДВФО', 'СФО', 'ДВФО'],
        'city': ['Новосибирск', 'Томск', 'Владивосток', 'Новосибирск', 'Владивосток', 'Владивосток', 'Владивосток', 'Владивосток', 'Томск', 'Владивосток'],
        'sales': [140, 135, 290, 95, 100, 50, 40, 120, 190, 200],
    }
)
df.sort_values(['region', 'city'])

  region         city  sales
2   ДВФО  Владивосток    290
4   ДВФО  Владивосток    100
5   ДВФО  Владивосток     50
6   ДВФО  Владивосток     40
7   ДВФО  Владивосток    120
9   ДВФО  Владивосток    200
0    СФО  Новосибирск    140
3    СФО  Новосибирск     95
1    СФО        Томск    135
8    СФО        Томск    190

In [ ]:
a = [1, 2, 3]
b = a.copy()

In [59]:
df_dv = df.copy()

df_dv = df_dv[df_dv['region'] == 'ДВФО']
df_dv

  region         city  sales
2   ДВФО  Владивосток    290
4   ДВФО  Владивосток    100
5   ДВФО  Владивосток     50
6   ДВФО  Владивосток     40
7   ДВФО  Владивосток    120
9   ДВФО  Владивосток    200

In [60]:
sum_sales = df_dv['sales'].sum()
sum_sales

800

In [61]:
df_dv['share'] = df_dv['sales'] / sum_sales
df_dv

  region         city  sales   share
2   ДВФО  Владивосток    290  0.3625
4   ДВФО  Владивосток    100  0.1250
5   ДВФО  Владивосток     50  0.0625
6   ДВФО  Владивосток     40  0.0500
7   ДВФО  Владивосток    120  0.1500
9   ДВФО  Владивосток    200  0.2500

In [62]:
def share(df):
    sum_sales = df['sales'].sum()
    df['share'] = df['sales'] / sum_sales
    
    return df

In [63]:
df.groupby('region').apply(share).sort_values(['region', 'city'])

  region         city  sales     share
2   ДВФО  Владивосток    290  0.362500
4   ДВФО  Владивосток    100  0.125000
5   ДВФО  Владивосток     50  0.062500
6   ДВФО  Владивосток     40  0.050000
7   ДВФО  Владивосток    120  0.150000
9   ДВФО  Владивосток    200  0.250000
0    СФО  Новосибирск    140  0.250000
3    СФО  Новосибирск     95  0.169643
1    СФО        Томск    135  0.241071
8    СФО        Томск    190  0.339286

In [64]:
df.groupby(['region', 'city']).apply(share).sort_values(['region', 'city'])

  region         city  sales     share
2   ДВФО  Владивосток    290  0.362500
4   ДВФО  Владивосток    100  0.125000
5   ДВФО  Владивосток     50  0.062500
6   ДВФО  Владивосток     40  0.050000
7   ДВФО  Владивосток    120  0.150000
9   ДВФО  Владивосток    200  0.250000
0    СФО  Новосибирск    140  0.595745
3    СФО  Новосибирск     95  0.404255
1    СФО        Томск    135  0.415385
8    СФО        Томск    190  0.584615